<table width="85%" style="color:gray"><div class="main-content">
  <ol *ngIf="item!=null">
    <table>
      <tr>
        <td><a [routerLink] = "['/user', item.user_name]">{{item.user_name}}</a></td>
        <td><a [routerLink] = "'/#'">{{item.created_at | date:'dd/MM/yyyy hh:mm'}}</a></td>
      </tr>
      <table>
        <tr>
          <td>{{item.points}} points by</td>
          <td><a [routerLink]="'/user'">{{item.user_name}}</a></td>
          <td><a [routerLink]="'/#'">{{item.created_at | date:'dd/MM/yyyy hh:mm'}}</a> | </td>
        </tr>
        <tr>
          <td>{{item.content}}</td>
        </tr>
      </table>

        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
          <div class="col-10">
            <textarea class="form-control" formControlName="content"></textarea>
          </div>
          <button type="submit">Comment</button>
        </form>
        <table>
          <ol *ngIf="replies!=null">
            <li *ngFor="let comment of replies;" class="post">
          <td><img src="assets/vote.png" style="width:10px;height:10px"></td>
          <td> <a [routerLink]="'/user'">{{comment.user_name}} </a></td>
          <td><a [routerLink]="['/comment-details', comment.id]">{{comment.created_at | date:'dd/MM/yyyy hh:mm'}}</a> |
          <tr>
            <td>{{comment.content}}</td>
          </tr>
          <p>
          <td><a [routerLink]="['/comment-details', comment.id]">reply</a></td></p>
          <app-comment-basic [comment]="comment"></app-comment-basic>
          </li>
</ol>
      </table>

</table>
